{{ if eq .chezmoi.os "darwin" -}}

#!/bin/bash

echo "Upgrading all system packages"

brew update -q
brew upgrade -q

{{ else if eq .chezmoi.os "linux" -}}

#!/bin/bash

if command -v pacman --version > /dev/null 2>&1; then
	echo "Performing a full system upgrade"
	yay -Syuq --noconfirm

elif command -v nix --help > /dev/null 2>&1; then
	echo "Performing a full nix system upgrade"
	read -rp "Enter the hostname (flake target): " HOST
	sudo nixos-rebuild switch --flake "/etc/nixos#$HOST" --upgrade

fi

{{ end -}}
